/* This file is for your main application css. */

.mbta-logo {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 40px;
}

.accuracy-summary-header {
  line-height: 1;
  margin-bottom: 2em;
  margin-top: 2em;
}

.accuracy-summary-percentage {
  font-size: 64px;
  font-weight: bold;
}

.accuracy-summary-percent-sign {
  font-size: 46px;
  font-weight: bold;
}

.prediction-analyzer-app {
  background-color: #022441;
  color: #ffffff;
}

.accuracy-form-filters {
  background-color: #0e4364;
  padding: 1em;
}

.prod-text {
  color: #1fecff;
}

.prod-text-header {
  text-transform: uppercase;
  font-weight: bold;
}

.dev-green-text {
  color: #c743f0;
}

.dev-green-text-header {
  text-transform: uppercase;
  font-weight: bold;
}

.prediction-analyzer-app-title {
  font-weight: 400;
}

.accuracy-separator {
  color: #2f516e;
  border-color: #2f516e;
}

.button-link {
  background-color: #165c96;
  border-radius: 3px;
  color: #ffffff;
  display: inline-block;
  line-height: 2.5;
  margin-right: 0.5em;
  text-align: center;
  width: 7em;
}

.button-link-active {
  background-color: #ffffff;
  color: #022441;
  font-weight: bold;
}
